# MongoDB Secrets

MONGO_USER=portfolio_admin
MONGO_PASS=mongo_pass
MONGO_DB=portfolio
MONGO_USERNAME=portfolio_admin
MONGO_PASSWORD=mongo_password
MONGO_CLUSTER=db:27017
MONGO_DBNAME=portfolio

# GHCR Secrets

GHCR_USERNAME=ghcr_username
GHCR_Token=ghcr_secret

# Docker secrets

DOCKER_USERNAME=docker_username
DOCKER_PASSWORD=docker_auth_token

# Token Secrets

JWT_ACC_SECRET=some_jwt_access_secrect
JWT_ACC_EXPIRES_IN=1h
JWT_REF_EXPIRES_IN=3600s
JWT_REF_SECRET=some_jwt_reference_secret

#Firebase

Fbase_project_id=_fbase_your_project_id
Fbase_private_key_id=fbase_your_private_key_id
Fbase_private_key=fbase_your_private_key
Fbase_client_email=fbase_email_provider_url
Fbase_client_id=fbase_client_provider_url
Fbase_auth_uri=fbase_auth_provider_url
Fbase_token_uri=fbase_token_provider_url
Fbase_auth_provider_x509_cert_url=fbase_cert_provider_url
Fbase_universe_domain=fbase__domain_url

# Mail Secrets

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=test@example.com
SMTP_PASS=test
NOTIFY_EMAIL=you@example.com